<a href="https://colab.research.google.com/github/PraneethPagadala3/FML-Lab/blob/main/multivariate_on_startup.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

In [ ]:
a=pd.read_csv('50_Startups.csv')

In [ ]:
a.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [ ]:
x=a.drop('Profit',axis=1)
y=a['Profit'].values

In [ ]:
x=x.drop('State',axis=1)
x.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [ ]:
y=y.reshape(-1,1)

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,train_size=0.70)

In [ ]:
reg=linear_model.LinearRegression()
reg.fit(x_train,y_train)

LinearRegression()

In [ ]:
y_pred1=reg.predict(x_train)

In [ ]:
print('Mean Absolute Error ',mean_absolute_error(y_train,y_pred1))

Mean Absolute Error  6036.100619723893

In [ ]:
print('Mean Squared Error ',mean_squared_error(y_train,y_pred1))

Mean Squared Error  54837688.71531941

In [ ]:
r2_score(y_train,y_pred1)

0.9668346196521733

In [ ]:
y_pred2=reg.predict(x_test)

In [ ]:
print('Mean Absolute Error ',mean_absolute_error(y_test,y_pred2))

Mean Absolute Error  8693.699802045567

In [ ]:
print('Mean Squared Error ',mean_squared_error(y_test,y_pred2))

Mean Squared Error  161586894.06261513

In [ ]:
r2_score(y_test,y_pred2)

0.8616207676953739